
#mainNav {
  min-height: 56px;
  background-color: #1c5b2a;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #ffffff;
  border: 1px solid #ffffff;
}

#mainNav .navbar-toggler:focus .navbar-toggler:hover  {
  outline: none;
    color:#D26901;
}

#mainNav .navbar-brand {
  color: #ffffff;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: #ffffff;
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: #ffffff;
  }
  #mainNav .nav-link:hover {
    color: #D26901;
  }
  #mainNav .nav-link:active {
    color:#D26901;
      
  }
  #mainNav.navbar-shrink {
    background-color: #1c5b2a;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #ffffff;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #ffffff;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #D26901;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #D26901;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #D26901;
    outline: none;
    border-bottom: 0.25rem solid #D26901;
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/bg2.png");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/bg2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-family: 'Pencil Sharp';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: #ffffff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
    font-family: 'Pencil Sharp';
  max-width: 20rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Pencil Sharp';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #D26901;
}

.btn-primary:hover {
  background-color:  #1c5b2a;
}

@font-face {
    font-family: 'Pencil Sharp';
    src: url("PENCIL SHARP.ttf");
}


.btn-primary:focus {
  background-color: #1c5b2a;
  color: #ffffff;
}

.btn-primary:active {
  background-color: #D26901 !important;
}

.about-section {
  padding-top: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, 0.9)), to(rgba(22, 22, 22, 0.8)));
  background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
   
}

.about-section p {
  margin-bottom: 5rem;
     color: #ffffff;
}

.projects-section {
  padding: 10rem 0;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .gamecontent-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #D26901;
  }
}

.gamecontent-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .gamecontent-section .gamecontent-text hr {
    border-color: #D26901;
    border-width: .25rem;
    width: 30%;
  }
}

.report-section {
  padding: 2rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/r.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/r.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.report-section .form-inline input {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Pencil Sharp';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding: 5rem 0 0;
}

.dev-section {padding: 2rem 0;
  background:black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.dev-section .card{
    border: 0;
  border-bottom: 0.25rem solid #D26901;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #D26901;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Pencil Sharp';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #D26901;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

body {
  font-family: 'Pencil Sharp';
  letter-spacing: 0.0625em;
}

a {
  color: #ffffff;
}
.a1 {
  color: #ffffff;
}

a:focus, a:hover {
  text-decoration: none;
  color: #D26901;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #ffffff !important;
}

.text-primary {
  color: #D26901 !important;
}

footer {
  padding: 5rem 0;
}

.mySlides {
    display:none;
}
.line-shape {
    margin-left: calc(50%  - 100px);
    width: 200px;
    height: 2px;
    background-color: #D26901 ;
    margin-top: 15px;
}
.line-shape1 {
    margin-left: calc(50%  - 300px);
    width: 600px;
    height: 2px;
    background-color: #D26901 ;
    margin-top: 15px;
}
.overlay-container {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
    background-color: #1c5b2a;
    overflow-x: hidden;
    overflow-y: scroll!important;
    transition: 0.5s;
    color: #ffffff;
}
.overlay-btn-close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #ffffff;
}
.o-px {
    padding-left: 200px;
    padding-right: 200px;
}
.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
}
.overlay-header {
    margin-bottom: 0rem;
}
.header-primary-text {
    font-size: 5rem;
    font-weight: 700;
    font-family: 'Pencil Sharp';
    display: block;
    text-transform: uppercase;
    color: #ffffff;
}
.btn-terms {
  background-color: transparent;
}

.btn-terms:hover {
    color: #D26901;
  background-color:  transparent;
}
.btn-terms:active {
    color: #ffffff;
  background-color: transparent !important;
}
.btn-terms1 {
  background-color: transparent;
}

.btn-terms1:hover {
    color: #D26901;
  background-color:  transparent;
}
.btn-terms1:active {
    color: #ffffff;
  background-color: transparent !important;
}
.btn-policy{
  background-color: transparent;
}

.btn-policy:hover {
    color: #D26901;
  background-color:  transparent;
}
.btn-policy:active {
    color: #ffffff;
  background-color: transparent !important;
}
.gamecontent-section {
    padding: 2rem 0;
  background:url('../img/bg4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
}


